@font-face {
  font-family: "SCTI Font";
  src: url("urw-gothic-l-book.ttf") format("truetype");
}

body {
    font-family: "SCTI Font", Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

header {
  background-color: #2b99e0;
}

header .container {
  margin: 0 auto;
  width: 40%;
}

header img {
  display: block;

  width: 100%;
}

header h1 {
  text-align: center;
  color: #fff;
  font-size: 48px;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

.raffle input, .raffle a {
  display: block;
  margin: 0 auto;

  background-color: #e8e8e8;
  width: 80%;
  font-size: 36px;
  text-align: center;
}

.raffle a {
  margin-top: 20px;
  padding: 10px 5px;

  background-color: #2b99e0;
  color: #fff;
  border: 0;

  text-decoration: none;
}

footer {
  margin-top: 60px
}

footer p {
  text-align: center;
}

/* Support page */

.sponsors h3 {
  text-align: center;
}

.sponsor {
  width: 20%;
  margin: 0 2.5%;
  display: inline-block;
}

.sponsor-algorich .logo {
  width: 250px;
  height: 250px;
  display: block;
  background-image: url('/images/algorich.png');
}

.sponsor-globo .logo {
  width: 250px;
  height: 250px;
  display: block;
  background-image: url('/images/globo.png');
}

.sponsor-subway .logo {
  width: 250px;
  height: 250px;
  display: block;
  background-image: url('/images/subway.png');
}

.sponsor-caelum .logo {
  width: 250px;
  height: 250px;
  display: block;
  background-image: url('/images/caelum.png');
}

.supporter {
  width: 20%;
  margin: 0 2.5%;
  display: inline-block;
}

.supporter-thoughtworks .logo {
  width: 250px;
  height: 250px;
  display: block;
  background-image: url('/images/thoughtworks.jpg');
}

.supporter-casadocodigo .logo {
  width: 250px;
  height: 250px;
  display: block;
  background-image: url('/images/casadocodigo.jpg');
}

.supporter-novatec .logo {
  width: 250px;
  height: 250px;
  display: block;
  background-image: url('/images/novatec.jpg');
}

.supporter-uenf .logo {
  width: 250px;
  height: 250px;
  display: block;
  background-image: url('/images/uenf.jpg');
}
